@page "/erros"
@inject IDialogService DialogService

<h1>ERROS</h1>


<MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" @onclick="OpenDialog">Nova Categoria</MudButton>
<MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" Href="/">Voltar</MudButton>
<MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" @onclick="Confirm">Nova Categoria</MudButton>

@code {

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<CategoriasModal>("Simple Dialog", options);
    }

    private async Task Confirm()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you want to confirm?");
        parameters.Add("ButtonText", "Yes");
        var dialogresult = DialogService.Show<CategoriasModal>("Confirm", parameters);
        // var result = await dialogresult.Result;
        // if (!result.Cancelled && bool.TryParse(result.Data.ToString(), out bool resultbool)) IncrementCount();
    }




}


